
<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-head">
<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="../HomeInactiveUser">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="../NewBike">Richiedi nuova bicicletta</a>
</li>
<li class="nav-item">
<a class="nav-link" href="../DeleteUser">Elimina utenza</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/Authentication/UserLogout">Esci</a>
</li>
</ul>
</div>
</nav>

